Speicherplatz-Limit überschritten für Nutzer $LOGIN.

Ihr Speicherplatz-Limit ist $QUOTA KByte.
Ihre Dateien belegen zur Zeit $USAGE KByte.

Bitte löschen sie weniger wichtige Dateien,
um Speicherplatz freizugeben.

