Bienvenido,

nuevo usuario $USERNAME a WebFileSys.

Tu nombre de usuario: $LOGIN
Y tu contraseña:      $PASSWORD

No olvides cambiar la contraseña y añadirnos a tus favoritos.

Hasta pronto!


