#validationErrorCont {
    clear: both;
}

#validationErrorList {
    list-style-type: none;
    padding-left: 0;
}

li.validationError {
    color: red;
}

input.validationError, select.validationError {
    border: 1px solid red;
}

td.formParm2 input[type="text"], 
td.formParm2 input[type="email"],
td.formParm2 input[type="password"],
td.formParm2 select {
    width: 260px;
}

body.admin table.dataForm td.formParm1 {
    width: 200px;	
}

table.userList {
	width: 100%;
    border-collapse: collapse;
}

table.userList td,
table.userList th {
	border: 1px solid #80a0a0;
	padding: 4px;
}

table.userList a {
    text-decoration: none;
}
	
.iconUserAdmin:before {
	font-size: 20px;
	color: navy;
	margin-right: 4px;
}

.iconAdminMenu:before {
	font-size: 32px;
	color: #6080c0;
    width: 50px;
    display: inline-block;
    margin-left: 10px;
}

div.adminMenuEntry {
    margin: 6px 0;
}

div.adminMenuEntry a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
	color: #6080c0;
    text-decoration: none;
    cursor: pointer;
}

div.adminMenuEntry a:hover {
	color: #4060a0;
}
