#validationErrorCont {
    clear: both;
}

#validationErrorList {
    list-style-type: none;
    padding-left: 0;
}

li.validationError {
    color: red;
}

input.validationError, select.validationError {
    border: 1px solid red;
}

td.formParm2 input[type="text"], 
td.formParm2 input[type="email"],
td.formParm2 input[type="password"],
td.formParm2 select {
    width: 260px;
}

body.admin table.dataForm td.formParm1 {
    width: 200px;	
}