  body.mobile {
      margin: 0px;
      font-size: 12pt;
      font-family: Arial,Helvetica;
      background-color:#ffffff;
  }
  
  div.albumPath {
      padding: 4px;
      text-align:left;
  }
  
  div.headline {
      background-color:lavender;
  }
  
  a.currentPath {
      font-size: 20px;
      color: black;
      font-family: Arial,Helvetica;
      font-weight: bold;
      text-decoration: none;
      vertical-align: middle;
  }
  
  #currentPathScrollCont {
      overflow-x: hidden;
  }
  
  #currentPath {
      white-space: nowrap;
  }
  
  a.currentPath:hover {color:green;text-decoration:underline;}
  a.currentPathSep {font-size:12pt;color:black;font-family:Arial,Helvetica;font-weight:bold;text-decoration:none;vertical-align:middle;}
  
  span.currentPathSep {
      font-size: 20px;
      color: black;
      font-family: Arial,Helvetica;
      font-weight: bold;
      margin: 0 4px 0 4px;
      vertical-align: middle;
  }

  td.tabActive {background-color:#ffffe0;font-size:12pt;font-family:Arial,Helvetica;color:black;font-weight:bold;border-width:1px;border-style:solid;border-color:#000000;border-bottom-style:none;padding-left:6px;padding-right:6px;padding-top:2px;padding-bottom:2px}
  td.tabInactive {background-color:ivory;font-size:12pt;font-family:Arial,Helvetica;color:#808080;border-width:1px;border-style:solid;border-color:#808080;padding-left:6px;padding-right:6px;padding-top:2px;padding-bottom:2px}
  a.tabInactive {font-size:12pt;color:#808080;font-family:Arial;text-decoration:none;font-weight:bold;}
  a.tabInactive:hover {color:#000000;}
  
  span.pageNum {font-size:12pt;color:black;font-family:Arial,Helvetica;padding-left:4px;padding-right:4px;}
  a.pageNum {color:black;font-weight:bold;text-decoration:none;}
  a.pageNum:hover {color:green;text-decoration:underline;}

  a.subFolder {
      font-size: 24px;
      color: maroon;
      font-family: Arial,Helvetica;
      font-weight: bold;
      text-decoration: none;
      vertical-align: middle;
  }
  
  a.subFolder:hover {color:green;text-decoration:underline;}

  a.fn {
      font-size: 24px;
      color: navy;
      font-family: Arial,Helvetica;
      font-weight: bold;
      text-decoration: none;
  }
  
  a.fn:hover {
      color: green;
      text-decoration: underline;
  }

  a.link {
      font-size: 24px;
      color: maroon;
      font-family: Arial,Helvetica;
      font-weight: bold;
      text-decoration: none;
  }
  
  a.link:hover {
      color:blue;
  }

  a.picName,
  a.linkPicName {
      font-size: 14px;
      font-family: Arial,Helvetica;
      font-weight: bold;
      text-decoration: none;
  }

  a.picName {
      color: navy;
  }

  a.linkPicName {
      color: maroon;
  }
    
  a.picName:hover {
      color:green;
      text-decoration:underline;
  }

  a.linkPicName:hover {
      color: black;
  }

  td.subFolderList {background-color:ivory;padding:0px;margin:0px;border-right-width:1px;border-right-style:solid;border-right-color:#b0b0b0;}
  td.fileList {background-color:ivory;padding:0px;margin:0px;}

  td.fileListFunct {
      background-color: #ffffe0;
      border-color: #ffffe0;
      font-size: 16px;
      font-family: Arial,Helvetica;
      color: black;
      padding-left: 2px;
      padding-right: 2px;
      padding-top: 2px;
      padding-bottom: 2px;
  }
  
  td.fileListFunct2 {background-color:#ffffe0;padding:0;margin:0;}

  .sepBottom {border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#b0b0b0;}
  
  td.folderDesc {font-size:9pt;color:navy;font-family:Arial,Helvetica;padding-left:4px;padding-right:4px;padding-top:0px;padding-bottom:2px;}
  
  .buttonCont 
  { 
      padding: 2px;
      float:left;
  }
  
  td.menu {background-color:#e0e0e0;}
  
a.menuitem,
span.menuitem {
    font-size: 20px;
    color: #000080;
    font-family: Arial;
    text-decoration: none;
    font-weight: bold;
}

a.menuitem:hover,
span.menuitem:hover {
    color: maroon;
}

  td.jsmenu {background-color:#e0e0e0;padding-left:5px;padding-right:5px;padding-top:2px;padding-bottom:2px;border-top-width:1px;border-top-style:solid;border-top-color:white;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:black;}

  td.jsmenu:hover {
      cursor: pointer;
      background-color:#f0f0f0;
  }

  td.formParm1 {background-color:#ffffe0;color:black;font-size:10pt;font-family:Arial,Helvetica;text-align:left;vertical-align:top;padding:8px;padding-top:4px;padding-bottom:4px;}
  td.formParm2 {background-color:#ffffe0;color:navy;font-size:10pt;font-family:Arial,Helvetica;vertical-align:top;text-align:left;padding:8px;padding-top:4px;padding-bottom:4px;}
   
  div.msgBox {width:260px;height:100px;position:absolute;background-color:lavender;border-style:solid;border-width:1px;border-color:black;font-size:10pt;color:black;font-family:Arial,Helvetica;font-weight:bold;text-align:center;vertical-align:middle;padding:20px;}
  div.promptBox {width:360px;height:140px;position:absolute;background-color:#ffffe0;border-style:ridge;border-width:3px;border-color:#a0a0a0;font-size:10pt;color:black;font-family:Arial,Helvetica;font-weight:bold;text-align:center;vertical-align:middle;padding:0;}
  div.promptHead {background-color:lavender;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#a0a0a0;font-size:10pt;color:black;font-family:Arial,Helvetica;font-weight:bold;text-align:center;vertical-align:middle;padding:3px;}
  div.uploadStatus {width:400px;height:200px;position:absolute;top:150px;left:50px;background-color:ivory;border-style:solid;border-width:1px;border-color:black;font-size:10pt;color:black;font-family:Arial,Helvetica;font-weight:bold;text-align:center;vertical-align:middle;padding:0px;}
  th.datahead {background-color:lavender;font-size:10pt;font-family:Arial,Helvetica;font-weight:bold;}
  td.data {background-color:ivory;font-size:10pt;font-family:Arial,Helvetica;}
  a.dir {font-size:10pt;color:black;font-family:Arial,Helvetica;font-weight:bold;text-decoration:none;}
  a.dir:hover {color:green;}
  
  font.fixed {
      font-size: 14px;
      color: black;
      font-family: monospace;
  }
  
  input.cb {background-color:white;}
  body.menu {margin-top:0px;margin-left:0px;margin-right:0px;font-size:10pt;background-color:#c0c0c0;font-family:Arial;}
  td.border {background-color:black;}

  th.fileListHead {background-color:lavender;font-size:10pt;font-family:Arial,Helvetica;font-weight:bold;padding-top:2px;padding-bottom:2px;}
  td.fileListData {
      background-color: ivory;
      font-size: 10pt;
      font-family: Arial,Helvetica;
      vertical-align: top;
      padding:2px 5px 2px 5px;
  }
  
  td.fileListSelection,
  td.fileListIcon {
      vertical-align: middle;
  }
  
  .sep {border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#b0b0b0;}
  input.cb2 {background-color:ivory;}
  input.cb3 {background-color:#ffffe0;}
  input.cb5 {background-color:#ffffe0;}
  
  table.topLess {border-width:1px;border-style:solid;border-color:black;border-top-style:none}

  table.filterAndSort {
      width: 100%;
      border: 1px solid black;
      border-bottom-color: #b0b0b0;
  }

  table.folderFileList {
      width: 100%;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: black;
  }
  
  table.folderFileList input[type=checkbox] {
      transform: scale(1.5);
  }
  
  table.multiFileFunct {
      width: 100%;
      border-collapse: collapse;
  }
  
  input.formParm1 {background-color:#ffffe0;}
  
  input, select, textarea {
      font-size:18px;
      color:navy;
      background-color:white;
      border: 1px solid #808080;
      border-radius: 5px 5px 5px 5px;
      padding: 2px;    
  }
  
  input[type="submit"], input[type="button"], input.roundedButton {
      color: black;
      font-size: 18px;
      border: 1px solid #a0a0a0;
      background-color: #f0f0f0;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-right: 5px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
  }
  
  a.button 
  {
      background: transparent url('/webfilesys/images/buttonRight.gif') no-repeat scroll top right;
      color: #444;
      display: block;
      float: left;
      font: normal 12px arial, sans-serif;
      height: 24px;
      margin-right: 6px;
      padding-right: 18px; /* sliding doors padding */
      text-decoration: none;
  }

  a.button span 
  {
      background: transparent url('/webfilesys/images/buttonLeft.gif') no-repeat;
      display: block;
      line-height: 14px;
      padding: 5px 0 5px 18px;
  } 

  a.button:active 
  {
      background-position: bottom right;
      color: #000;
      outline: none; /* hide dotted outline in Firefox */
  }

  a.button:active span 
  {
      background-position: bottom left;
      padding: 6px 0 4px 18px; /* push text down 1px */
  } 

  span.pagingPage {
      font-weight: normal;
      font-size: 14px;
      color: #000000;
      margin-left: 6px;
  }

  div.pagingPage {
      display: inline;
      padding: 2px 6px;
      font-size: 13px;
  }
 
  div.pagingPageOther {
      background-color: #e0e0e0;
      border: 1px solid #c0c0c0;
      cursor: pointer;
      font-weight: bold;
      color: navy;
  } 

  div.pagingPageOther:hover {
      background-color: #E6E6FA;
      border: 1px solid #000080;
  } 

  div.pagingPageCurrent {
      background-color: #C0C0FF;
      border: 1px solid #000080;
      color: #000000;
      text-decoration: none;
  }
  
  .mobileFolderIcon:before {
      font-size: 24px;
      color: maroon;
      font-style: normal;
  }

  .mobileFileIcon:before {
      font-size: 24px;
      color: navy;
      font-style: normal;
  }
  
  .mobileMenuIcon:before {
      font-size: 24px;
      color: black;
      font-style: normal;
  }
    
  td.mobileFolderMenu {
      text-align: right;
      padding-right: 6px;
  }

  td.mobileMainMenu {
      text-align: right;
      padding-right: 12px;
  }

  td.mobileMainMenu a {
      padding-left: 8px;
      padding-right: 8px;
  }
  
  div.contextMenu {
      position: absolute;
      top: 10px;
      left: 50px;
      width: 250px;
      background-color: #c0c0c0;
      border-style: ridge;
      border-width: 3px;
      border-color: #c0c0c0;
      visibility: hidden;
  }
  
div.contextMenuHead {
	background-color: lavender;
	color: #000000;
    padding: 4px 5px;
    text-align: left;
    font-size: 20px;
    font-weight: bold; 
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;	
}  

div.contextMenuItem {
    background-color: #e0e0e0;
    color: #000080;
    padding: 2px 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    cursor: pointer;
}

div.contextMenuItem:hover {
    background-color: #f0f0f0;
    color: maroon;
}

div.mouseClickShield {
    height: 768px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

div.alertCont {
	position: absolute;
	width: 300px;
	min-height: 120px;
	margin: auto;
	background-color: #f0f0f0;
	border: 3px ridge #808080;
	text-align: center;
	padding: 20px;
    box-sizing: content-box;
}

div.alertTextCont {
	max-height: 300px;
	overflow-y: auto;
	text-align: left;
}

span.alertText {
    font-family: Arial,Helvetica;
	font-size: 15px;
}

div.alertButtonCont {
    margin-top: 40px;
}

button.alertConfirmButton {
	width: 120px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #404040;
	border-radius: 8px;
	cursor: pointer;
}
  
#sortMenu {
	display: none;
}

div.toastBox {
	position: absolute;
	background-color: ivory;
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
}

div.toastBox span {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #000000;
}

table.dataForm {
    background-color: #ffffe0;
}

body.mobile a.dirtree {
	font-size: 24px;
	color: maroon;
}

body.mobile .icon-delete:before {
    color: #a00000;
    font-size: 26px;
}

body.mobile .icon-star {
    font-size: 26px;
    color: #c08000;
}