body.gpxTrack .olPopup {
    height: 80px!important;
}

.olPopup {
    background-color: lavender!important;
    border: 2px solid!important;
    border-color: #808080;
    border-radius: 8px;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 10px;
    color: navy;
}

.olPopupContent {
	padding: 10px;
	background-color: ivory;
}

.olPopupContent h2 {
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	color: navy;
	text-align: center;
	margin-top: 0;
}

.olPopupContent p {
	font-size: 10px;
	font-family: Arial,Helvetica,sans-serif;
	color: maroon;
	text-align: center;
}
