td.formError {
	background-color: #ffffe0;
	color: #b00000;
	font-size: 10pt;
	font-family: Arial,Helvetica;
	font-weight: bold;
	vertical-align: top;
	padding: 4px 8px;
}

td.regValidationError {
	background-color: #ffffe0;
	color: #b00000;
	font-size: 10pt;
	font-family: Arial,Helvetica;
	vertical-align: top;
	padding: 4px 0;
}

div.registrationBox {
	width: 520px;
	height: 400px;
	position: relative;
	top: -200px;
	left: -260px;
	background-color: #ffffe0;
	border-style: solid;
	border-width: 1px;
	border-color: black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #666666;
    padding-top: 20px;
}

table.registrationBox {
    width: 100%;
}

table.registrationBox td {
    padding: 5px;
}

table.registrationForm {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table.registrationForm td {
    padding: 5px;
}
