body.menubar {
    background-color: #ffe0a0;
}

div.msgBox {
    background-color: ivory;
    color: #000080;
}
 
div.uploadStatus {
    background-color: lavender;
}

/* depreacted - replace with div.headline! */
th.headline {
    background-color: #ff8000;
}
 
div.headline {
    background-color: #ff8000;
}
 
th.datahead {
    background-color: #d0d0d0;
}

input,select,textarea {
    background-color: #ffe068;
}
 
input.cb {
    background-color: #f0c000;
    border: none;
}

input.cb3 {
    background-color: #ffd060;
    border: none;
}

input.cb4 {
    background-color: #e0e0e0;
    border: none;
}

input.cb5 {
    background-color: #f0d060;
    border: none;
}

body.menu {
    background-color: #c0c0e0;
}

td.menu {
    background-color: #ffa000;
}

a.menuitem,
span.menuitem {
    color: maroon;
}

a.menuitem:hover,
span.menuitem:hover {
    color: black;
}

td.jsmenu {
    background-color: #ffa000;
}

td.jsmenu:hover {
    background-color:#ffc020;
}

td.fileListFunct, td.fileListFunctCont {
    background-color: #ffd060;
}

th.fileListHead {
    background-color: #d0d0d0;
}

table.fileListButtonCont2 {
    background-color: #ffd060;
}

div.searchPath
{
    background-color: ivory;
}

span.searchPath
{
    background-color: ivory;
}  

td.tabActive {
    background-color: #ffd060;
}
 
td.tabAlbum {   
    background-color: #f0d060;
}

div.more {
    background-color:#ffffff;
} 

table.dataForm {
    background-color: ivory;
}

table.formSection {
    background-color: ivory;
}

td.formParm1 {
    background-color: ivory;
}

td.formParm2 {
    background-color: ivory;
}

td.formButton {
    background-color: ivory;
}

input.formParm1 {
    background-color: ivory;
}

div.hint {
    background-color: #FFD060;
}

th.fileList {
    background-color: #e0e0e0;
}

table.contextMenu th {
    background-color: #d0d0d0;
}

div.contextMenuItem {
    background-color: #ffa000;
    color: maroon;
}

div.contextMenuItem:hover {
    background-color: #ffc020;
    color: #000000;
}

.icon-button a:before {
	color: #404040;
}

span.fileAgeHour {
	background-color: #c0ffff;
}

span.fileAgeDay {
	background-color: #ffe080;
}

span.fileAgeWeek {
	background-color: #ffe0e0;
}

span.fileAgeMonth {
	background-color: #e0ffe0;
}

span.fileAgeYear {
	background-color: #e0e0ff;
}

td.fileListFunctCont a.icon-paging:before,
td.fileListFunct a.icon-paging:before {
    color: #d05000;
}

.icon-button {
    border: 3px ridge;
    color: #4080c0;
    border-color: #c06000;
    background-color: #ff8000;
}

td.tabInactive {
    background-color: #ffe0a0;
}

.icon-copyToClip:before {
    color: #000000;
}

div.fastpathHeadline span+span {
    color: maroon;
}

div.fastpathHeadline span:before {
	color: #ff8000;
}

a.folderTreeIcon span.icon-font:before,
div.fastpath.last span.icon-font:before,
div.findFileResult span.icon-font {
	color: #b06000;
}

a.folderTreeIcon span.icon-font.folderCurrent:before {
	color: #ff8000;
}

span.fileIcon:before {
	color: #a03000;
}

div.currentFolder > a.dirtree {
	border: 1px solid #b06000;
}

